@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="note">
  <p><strong>NOTE:</strong> You need to have at least one stylist before you can add a client!</p>
  <p>@Html.ActionLink("Create a stylist", "Create", "Stylists")</p>
</div>

<h2>Add a new client</h2>

<div class="form">
  @using (Html.BeginForm())
  {
    <div class="form-block">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="form-block">
      @Html.LabelFor(model => model.Description)
      @Html.TextAreaFor(model => model.Description, new { @class = "textbox" })
    </div>
    <div class="form-block">
      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")
    </div>
    <div class="form-block">
      <input type="submit" value="Add new client" />
    </div>
  }
</div>

<div class="navlinks-back">
  <p>@Html.ActionLink("Back to Client List", "Index")</p>
</div>