@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>About @Html.DisplayFor(model => model.Name): <span class="light-text">Client</span></h2>

<p class="description">@Html.DisplayFor(model => model.Description)</p>
<h4>@Html.DisplayNameFor(model => model.Stylist):<span class="light-text"> @Html.DisplayFor(model => model.Stylist.Name)</span></h4>

<div class="navlinks">
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
  <p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
</div>